.footer {
  margin-top: auto;
  padding: 6px 0;

  background-color: $color-primary-dark;
  box-shadow: 0 -5px 15px -10px #000;

  &__info {
    font-size: 1.5rem;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: darken($color-primary-light, 15);
  }

  &__link {
    &:last-of-type {
      margin: 0 5px;
    }

    margin: 0 3px;

    color: $color-primary-light;
  }

  &__img {
    max-width: 50px;
    max-height: 50px;
    margin-left: 5px;
  }
}
