.footer {
  margin-top: auto;
  padding: 10px 0;

  background-color: $color-primary-dark;

  &__info {
    font-size: 1.5rem;
    font-style: normal;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: darken($color-primary-light, 15);
  }

  &__link {
    margin: 0 5px;

    color: $color-primary-light;
  }

  &__img {
    max-width: 50px;
    max-height: 50px;
    margin-left: 5px;
  }
}
