.table {
  width: 100%;

  border-collapse: collapse;

  img {
    max-width: 30px;
  }

  th {
    font-weight: 500;
  }

  td,
  th {
    width: 20%;
    padding: 5px;

    text-align: left;
  }

  tr:nth-child(odd) {
    background-color: lighten($color-primary-dark, 3);
  }
}
