// Breakpoints
$media-xl: 1199px;
$media-lg: 991px;
$media-md: 767px;
$media-sm: 575px;
$media-xs: 480px;
// Colors
$color-primary-light: #fff;
$color-primary-dark: #282c34;
$color-secondary-light: #03dac6;
$color-secondary-dark: #bb86fc;
$color-tertiary-dark: #ff3d47;
// $color-primary-light: #334a5f;
// $color-primary-dark: #f0f1f2;
// $color-secondary-light: #4bc076;
// $color-secondary-dark: #2295d7;
// $color-tertiary-dark: #ea676d;
// Fonts
$font-primary: 'Heebo', sans-serif;
