.cases {
  @include block;

  flex: 2 1;

  max-width: 20%;

  &__global {
    @include block-item;
  }

  &__title {
    @include block-title;

    margin-bottom: .6rem;
  }

  &__number {
    font-size: 2.5rem;
    font-weight: 500;

    color: $color-secondary-dark;
  }

  &__countries {
    @include block-item;
    @include block-table-parent;

    flex: 2 1;
  }

  &__table {
    @include block-table-wrapper;

    td:nth-child(1),
    th:nth-child(1) {
      width: 20%;
    };

    td:nth-child(2),
    th:nth-child(2) {
      font-weight: 400;

      width: 20%;
    };

    td:nth-child(3),
    th:nth-child(3) {
      width: 70%;

      text-align: right;
    }

    td:nth-child(3) {
      font-weight: 500;

      color: $color-secondary-dark;
    }
  }

  &__date {
    @include block-item;

    &-value {
      font-weight: 500;
    }
  }
}
