.cases {
  @include block;

  flex: 2 1;

  max-width: 20%;

  &__global {
    @include block-item;
  }

  &__title {
    @include block-title;

    margin-bottom: .6rem;
  }

  &__number {
    font-size: 2.5rem;
    font-weight: 500;

    color: $color-secondary-dark;
  }

  &__by {
    @include block-item;

    overflow: hidden;
    flex: 2 1;
  }

  &__table {
    overflow-y: auto;

    max-height: calc(100%-30px);

    td:nth-child(1),
    th:nth-child(1) {
      width: 5%;
    };

    td:nth-child(2),
    th:nth-child(2) {
      font-weight: 500;

      width: 50%;

      text-align: right;

      color: $color-secondary-dark;
    }
  }

  &__date {
    @include block-item;

    &-value {
      font-weight: 500;
    }
  }
}
