.cases {
  @include media-laptop {
    min-width: 240px;
  }

  @include media-tablet-lg {
    min-width: 217px;
  }

  @include media-smartphone-lg {
    max-width: 100%;
  }

  @include block;

  flex: 2 0;
 min-width: 280px;
  max-width: 20%;

  &__search {
    @include block-item;

    .icon {
      cursor: pointer;
      color: $color-primary-light;
      transition: color .1s linear;

      &:hover {
        color: $color-tertiary-dark;
      }
    }
  }

  &__title {
    @include block-title;

    margin-bottom: .6rem;
  }

  &__input {
    padding: 1px 5px;

    color: $color-primary-light;
    border-bottom: 2px solid  $color-secondary-dark;
  }

  &__countries {
    @include block-item;

    @include block-table-parent;

    flex: 2 1;
  }

  &__table {
    @include block-table-wrapper;

    tr {
      cursor: pointer;
      user-select: none;
      transition: background-color .1s linear;

      &:hover {
        background-color: darken($color-primary-dark, 6);

        td:nth-child(3) {
          color: $color-primary-light;
        }
      }
    }

    tr.active {
      background-color: darken($color-secondary-dark, 5);

      td:nth-child(3) {
        color: $color-primary-light;
      }
    }

    td:nth-child(1),
    th:nth-child(1) {
      width: 20%;
    };

    td:nth-child(2),
    th:nth-child(2) {
      font-weight: 400;
    };

    td:nth-child(3),
    th:nth-child(3) {
      width: 70%;

      text-align: right;
    }

    td:nth-child(3) {
      font-weight: 500;

      color: $color-secondary-dark;
    }
  }

  &__date {
    @include block-item;

    &-value {
      font-weight: 500;
    }
  }
}
