.stats {
  @include media-tablet-lg {
    flex-direction: row-reverse;
  }
  @include media-smartphone-lg {
    flex-direction: column;
  }
  @include block;

  flex: 2 1;

  &__global {
    @include media-tablet-lg {
      min-width: 300px;
      max-height: 230px;
    }
    @include media-smartphone-sm {
      min-width: 273px;
    }
    @include block-item;
    @include block-table-parent;

    flex: 2 1;

    min-width: 336px;
    min-height: 89px;
  }

  &__table {
    @include block-table-wrapper;

    th,
    td {
      text-align: center;
    }

    td:nth-child(2) {
      color: $color-secondary-dark;
    }

    td:nth-child(3) {
      color: $color-tertiary-dark;
    }

    td:nth-child(4) {
      color: $color-secondary-light;
    }
  }

  &__title {
    @include block-title;
  }

  &__chart {
    @include media-tablet-lg {
      width: 200px;
      height: 230px;
    }
    @include media-smartphone-lg {
      width: 98.5%;
      min-height: 250px;
    }
    @include block-item;

    position: relative;

    flex: 4 1;

    height: 200px;
  }

  &__select {
    font: inherit;
    font-weight: 400;
    font-weight: 500;

    position: absolute;
    top: 6px;
    left: 50%;

    overflow: hidden;

    margin: 0;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
    transform: translateX(-50%);
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $color-primary-dark;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: darken($color-primary-light, 3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

    -moz-appearance: button;
    -webkit-padding-end: 20px;
       -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
       -moz-padding-start: 2px;
  }
}
