.stats {
  @include block;

  flex: 2 1;

  &__global {
    @include block-item;
    @include block-table-parent;

    flex: 2 1;
  }

  &__table {
    @include block-table-wrapper;

    th,
    td {
      text-align: center;
    }

    td:nth-child(3),
    td:nth-child(2) {
      color: $color-secondary-dark;
    }

    td:nth-child(4) {
      color: $color-secondary-light;
    }
  }

  &__title {
    @include block-title;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__number {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__graph {
    @include block-item;

    flex: 3 1;
  }
}
