@mixin block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin block-item {
  margin: 4px;
  padding: 5px;

  text-align: center;

  border: 1px solid lighten($color-primary-dark, 15);
  background-color: $color-primary-dark;
  box-shadow: 0 0 5px #000;
}

@mixin block-title {
  font-size: 1.6rem;
}

@mixin block-table-parent {
  @include scroll;

  overflow: hidden;

  padding: 5px 0;
}

@mixin block-table-wrapper {
  overflow-y: auto;

  max-height: calc(100%-30px);
}
